.collection-slider {
    position: relative;
    margin-top: 100px;
    &__title {
    }
    &__container {
    }
    &__swiper {
        margin-right: 175px !important;
        padding-left: 50px !important;
    }

    &__wrapper {
        margin-top: 55px !important;
        
    }

    &__slide {
        width: auto !important;
        //margin-right: 50px !important;
        &:hover .collection-slide__slide-image{
            background: linear-gradient(to top, black 100%, transparent 0%) !important;
            transition: .3s;
            img{
                opacity: 0.4;
                transition: .3s;
            }
        }
        &:hover .collection-slider__btn{
            transition: .3s;
            transform: scale(1.1);
        }
    }

    &__slide-content {
        position: absolute;
        top: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        //left: 25%;
        left: 1%;
        right: 1%;
    }

    &__text {
        font-size: 25px;
        font-weight: 400;
        color: $white;
    }

    &__btn {
        margin-top: 30px;
        background-color: transparent !important;
        border: 1px solid $white !important;
        padding: 22px 80px 22px 80px;
    }


    &__next {
    }
}

.collection-slide {

    &__wrapper {
        position: relative;
        //max-width: 513px;
    }
    &__slide-image{
        background: linear-gradient(to top, black 40%, transparent 100%) !important;

        img{
            opacity: 0.7;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.slider__next{
}
.swiper-button-next::after{
    display: none;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.swiper-slide {
}

@media (max-width: 1440px) { 
  
    .collection-slider {
        &__slide{
            width: 30% !important;
        }
        &__btn{
            margin-top: 15px;
            padding: 12px 50px 12px 60px;
        }
        
    }
    .collection-slider{
        &__swiper {
            margin-right: 10% !important;
        }
    }
    .collection-slide{
        &__slide-image{
            height: 500px;
        }
    }
}
@media (max-width: 1140px) { 
  
    .collection-slider {
        margin-top: 50px;
        &__slide{
            width: 25% !important;
        }
        &__btn{
            margin-top: 15px;
            padding: 10px 20px 10px 20px;
        }
        &__text {
            font-size: 18px;
        }
    
        
    }
    .collection-slide{
        &__slide-image{
            height: 350px;
        }
    }
}
@media (max-width: 960px) { 
  
    .collection-slider {
        &__slide{
            width: 35% !important;
        }
    }

}
@media (max-width: 768px) { 
  
    .collection-slider{
        &__swiper {
            padding-left: 15px !important;
            margin-right: 15% !important;
        }
        &__text{
            font-size: 16px;
        }
        &__btn{
            margin-top: 10px;
            font-size: 16px;
            padding: 5px 10px 5px 10px;
        }
    }
    .collection-slider {
        &__slide{
            width: 45% !important;
        }
    }
    .collection-slide{
        &__slide-image{
            height: 350px;
        }
    }
}
@media (max-width: 378px) { 
  
    .collection-slider{
        &__swiper {
            padding-left: 15px !important;
            margin-right: 15% !important;
        }
        &__text{
            font-size: 16px;
        }
        &__btn{
            margin-top: 10px;
            font-size: 16px;
            padding: 5px 10px 5px 10px;
        }
    }
    .collection-slider {
        &__slide{
            width: 100% !important;
        }
    }
    .collection-slide{
        &__slide-image{
            height: 400px;
        }
    }
}