
.lookbook {
  margin-top: 200px;
  &__container {
    //height: 1045px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__warapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 777px;
  }
  &__slider {
    position: relative;
    overflow: hidden;
    background: #000;
    :nth-child(1) {
      animation-delay: 0s;
    }
    :nth-child(2) {
      animation-delay: 10s;
    }
  }
  &__image {

    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideanim 20s infinite;
    pointer-events: none;

    
  }
  &__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 20s infinite;
  }

  &__content {
    top: 55%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  &__text {
    font-size: 65px;
    font-weight: 400;
    color: white;
  }
  &__btn {
    padding: 15px 60px;
    background-color: $white !important;
    color: $black !important;
    font-size: 25px;
    font-weight: 400;
    text-transform: none;
  }

}



@keyframes slideanim {
    25%{
        opacity: 1;
        pointer-events: auto;
    }
    50%{
        opacity: 1;
        pointer-events: auto;
    }    
    75%{
        opacity: 0;
    }
}
@keyframes zoom {
    50%{
        transform: scale(1.2);
    }    
  }

@media (max-width: 1440px) { 
  .lookbook {
    margin-top: 150px;
    &__warapper {
      height: 550px;
    }
  }
}
@media (max-width: 1200px) { 
  
}
@media (max-width: 768px) { 
  .lookbook {
    margin-top: 100px;

    &__warapper {

      height: 400px;

    }

    &__content {
      top: 55%;
      gap: 20px;
    }
    &__text {
      font-size: 48px;
    }
    &__btn {
      padding: 10px 40px;
      font-size: 18px;
    }
  }


}
