.lookbook-single {

    &__container {
    }

    &__title {
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 100px;
    }

    &__image {
        max-height: 700px;
        overflow: hidden;
        display: flex;
        justify-content: right;
        align-items: center;
        transition: .3s;
        img{
            object-fit: cover;
            width: 70%;
            height: 100%;
        }
        &:nth-child(2n){
            justify-content: left;
            margin-top: 60px;
        }
        &:nth-child(5){
            justify-content: right !important;
            margin-left: 15%;
        }
        &:nth-child(10n+5){
            justify-content: right !important;
            margin-left: 15%;
        }
        &:nth-child(5n){
            justify-content: center;
            width: 75%;
            height: 75%;
            margin-top: 10%;
        }

        &:nth-child(2){
            //margin-top: 100px;
            
        }
        &:hover{
            transform: scale(1.1);
            transition: .3s;
        }
    }
    
}
.container {
}
.main-title {
}
@media (max-width: 768px) { 
    .lookbook-single {
        &__wrapper{
            grid-template-columns: 1fr;
            gap: 50px;
        }
        &__image{
            justify-content: center !important;
            margin: 0 !important;
            width: 100% !important;
            height: 100% !important;
            &:nth-child(10n+5) {
                justify-content: center !important;
            }
        }
    }
}