.novelty-slider {
    position: relative;
    margin-top: 200px;
    &__container {
    }

    &__title {
    }
    &__swiper {
        margin-right: 175px !important;
        padding-left: 50px !important;
    }

    &__wrapper {
        margin-top: 55px !important;
    }

    &__slide {
        //width: auto !important;
        //margin-right: 0px !important;
    }

    &__slide-content {
        margin-top: 25px;
        gap: 25px;
        display: flex;
        flex-direction: column;
    }


    &__text {
        font-size: 20px;
        font-weight: 400;
    }

    &__colors {
        display: flex;
        gap: 8px;
    }

    &__color {
        width: 20px;
        height: 20px;
        border-radius: 100px;
    }
    &__price-content{
        display: flex;
        gap: 15px;
    }
    &__price {
        font-size: 20px;
        font-weight: 400;
        &_old{
            color: $accent-dark;
        }
    }

    &__btn {
        text-transform: none;
        padding: 10px 0;
        width: 70%;
    }

    &__next {
    }
}
.slider__novelty-next{
    height: 90% !important;
}
.novelty-slide {

    &__wrapper {
        //width: 500px;
        //width: 90%;
        a{
            display: flex;
            //width: 400px;
        }
    }


    &__slide-image {
        margin: 0 !important;
        img{
            width: 100%;
        }
    }
}

@media (max-width: 1440px) { 
  
    .novelty-slider{
        &__text{
            font-size: 18px;
        }
        &__price {
            font-size: 16px;
        }

    }
    .novelty-slide{
        &__slide-image{
            height: 320px !important; 
        }
    }
}
@media (max-width: 1200px) { 
  
    .novelty-slider{
        &__text{
            font-size: 16px;
        }
        &__price {
            font-size: 16px;
        }
        &__price-content{
            gap: 5px;
            flex-direction: column;
        }

    }
    .novelty-slide{
        &__slide-image{
            height: 220px !important; 
        }
    }
}