.product-card-main {

  &__container {
    display: flex;
    margin-top: 40px;
  }
  &__left {
    width: 50%;
    display: flex;



    gap: 40px;
  }
  &__swiper {
    width: 100%;
    max-height: 710px;
  }
  &__swiper-wrapper {
    &_main {
      width: 70%!important;
      object-fit: cover;
      display: flex!important;
    }
    &_mini {
      display: flex !important;
      width: 30%!important;
      margin: 0 !important;
      height: min-content !important;
      object-fit: cover;
    }
  }
  &__swiper-slide {
    height: 100% !important;
    img{
      width: 100%;

      height: 100%;
      object-fit: cover;
    }
    &_mini {
      width: 150px !important;
      height: 100% !important;
      img{
        width: 100%;
        object-fit: cover;



      }
    }
  }
  &__mySwiper {
    display: flex;
    height: min-content;
    width: 75% !important;

    height: 100%;
  }
  &__mySwiper1 {
    width: 25% !important;
  }
  &__right {
    width: 50%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;

  }
  &__title {
    font-size: 25px;
    font-weight: 400;
  }
  &__articul {
    font-size: 18px;
    font-weight: 400;
    color: $accent-dark;
  }
  &__price {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
  }
  &__colors-block {
    margin-top: 40px;
    ul{
      list-style: none; 
      padding: 0; 
      margin: 0;
    }
    li{
      display: inline-block;
    }
    label{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    input[type="radio"]:checked + .product-card-main__swatch{
      box-shadow: inset 0 0 0 5px $white;
      
    }
    input[type="radio"]:checked ~ .product-card-main__color-label{
      opacity: 1;
      transition: .3s;
    }
  }
  &__color {
    display:none;
  }
  &__swatch {
    display:inline-block;
    vertical-align: middle;
    height: 50px;
    width:50px;
    border-radius: 50px;
    margin: 0 5px 0 0 ;
  }
  &__color-label {
    font-size: 18px;
    font-weight: 400;
    opacity: 0;
    transition: .3s;
  }
  &__question {
    font-size: 18px;
    font-weight: 400;
    color: $accent-dark;
    text-decoration: none;
    border-bottom: 1px solid $accent-dark;
    width: fit-content;
    margin-left: auto;
  }
  &__size {
    position: relative;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    font-weight: 400;
    
  }
  &__size-first{
    text-align: center !important; 
  }
  &__size-button{
    border: 1px solid $accent-dark;
    padding: 15px 0 15px 0;
    background-color: $accent;
    position: relative;
  }
  &__size-shevron{
    position: absolute;
    right: 40px;
    top: 33%;
    bottom: auto;
    transition: .5s;
    &_active{
      transform: scale(-1, -1);
      transition: .5s;
    }
  }
  &__btn {
    width: 100%;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;

  }
  &__heart{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    transition: .3s;
    &:hover{
      transform: scale(1.1);
      transition: .3s;
    }
    &_active{
      display: none;
    }
  }
  &__heart-fill{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    display: none;
    transition: .3s;
    &:hover{
      transform: scale(1.1);
      transition: .3s;
    }
    &_active{
      display: block;
    }
  }
  &__add-cart{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.accordion {
  &__elem {
    border-bottom: 1px solid $accent-dark;
    padding: 15px 0;  
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 18px;
    font-weight: 400;
    color: $black;
  }
  &__content {
    margin-top: 0;
    max-height: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    overflow: hidden;
  }
  &__button{
    width: 20px;
    height: 20px;
    transition: .5s;
    &_active{
      transform: scale(-1, -1);
      transition: .5s;
    }
  }
}

.questions {
  &__accordeon {
    margin-top: 30px;
  }
}

.accordion__elem:first-child {
  border-top: 1px solid $accent-dark;
}

.accordion__elem_active .accordion__content {
max-height: 600px;
margin-top: 30px;
}
.size-chevron-left{

}
.size__dropdown-menu{
  width: 100%;
  position: absolute;
  z-index: 11;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-height: 0;
  transition: .6s;
  overflow: hidden;
  margin: 0;
  li{
    list-style-type: none;
    text-align: left;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid $accent-dark;
    padding-left: 15px;
    background-color: $accent;
    &:hover{
      background-color: $white;
      transition: .4s;
    }
  }
  &_active{
    transition: .6s;
    max-height: 100vh;
    width: 100%;
    transition: 0.6s;
  }
}



.product {

  &__sidebar-background {
    z-index: 10;
    background-color: $black;
    opacity: 70%;
    position: fixed;
    width: 200vw;
    height: 100vh;
    display: none;
  }

  &__sidebar {
    z-index: 11;
    position: fixed;
    width: 700px;
    right: -700px;
    height: 100%;
    background-color: $white;
    transition: all .5s ease;
    overflow-y: auto;
  }
}
.product-sidebar {

  &__close {
    padding-left: 30px;
    display: flex;
    text-decoration: none;
    gap: 5px;
    align-items: center;
    &:hover{
            transform: scale(1.1);
            transition: .3s;
    }
  }
  &__close-icon{
    width: 25px;
    height: 25px;
  }
  &__close-text {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__title{
    margin-top: 50px;
    display: flex;
    gap: 50px;
  }
}




.product-sidebar {

  &__table {
    width: 80%;
    margin-top: 50px;
    margin-left: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
.product-sidebar-table {

  &__title {
    font-size: 25px;
    font-weight: 500;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    border: 1px solid $black;
    padding: 10px 0 10px 0;
    width: 25%;
    text-align: center;
  }
}


@media (max-width: 1200px) { 
  .novelty-slider{
    &__slide-content{
      gap: 15px;
    }
  }
  .product-slider{
    &__wrapper{
      gap: 1px;
    }
  }
  .product-card-main{
    &__swiper-slide_mini{
      width: 100px !important;
    }
  }
  .product-card-main{
    &__btn{
      padding: 10px 0 10px 0;
    }
    &__swiper {
      max-height: 690px;
    }
  }
 }



 @media (max-width: 768px) { 
  .product-card-main {

    &__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
      margin-left: 0px;
    }
    &__swiper {
      max-height: 310px;
    }
    &__colors-block{
      margin-top: 20px;
    }
    &__question{
      margin: 0;
    }
  }
  .product__sidebar {
    width: 300px;
  }
  .product-sidebar-table{

    &__text{
      font-size: 12px;
    }
    &__title{
      font-size: 20px;
    }
  }  
  .product-sidebar{
    &__title{
      gap: 10px;
    }
    &__table{
      width: 90%;
      margin-left: 20px;
    }
    &__close-text{
      font-size: 20px;
    }
  }

}
 