.reviews {



    &__container {
    }


    &__title {
    }

    &__list {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }


    &__review {
        display: flex;
        width: 70%;
        gap: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

.reviews-review {

    &__left {
        width: 70%;
    }
    &__right {
    }
    &__btn{
        width: 100%;
        display: flex;
        font-size: 15px;
        padding: 10px 0 10px 20px;
        margin-top: 25px;
        text-transform: none;
        gap: 20px;
        &:hover{
            transform: none;
        }
    }
    &__answer{
        margin-top: 10px;
    }
    &__answer-body{
        border-radius: 0 !important;
        border: none !important;
        gap: 20px;
    }
    &__title {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__product-title{
        font-size: 18px;
    }
    &__price{
        font-size: 18px;
    }

    &__name {
        font-size: 20px;
    }
    &__image{
        height: 300px;
    }

    &__date {
        color: $accent-dark;
        
    }
    &__answer-date{
        color: $accent-dark;
    }

    &__stars {
        margin-top: 10px;
    }

    &__star{
        width: 20px;
        height: 20px;
    }
    &__text {
        display: flex;
        margin-top: 25px;
    }

}
.reviews-card {

    &__wrapper {
        width: 100%;
    }
}

.reviews-review-btn{
    &__text{

    }
}
@media (max-width: 1200px) { 
  
    .reviews-review{
        &__image{
            height: 300px !important;
        }
    }
}
@media (max-width: 1140px) { 
  
    .reviews{
        &__review{
            gap: 30px;
        }
    }
}
@media (max-width: 768px) { 
    .reviews{
        &__review{
            flex-direction: column;
            margin: 0;
            width: 100%;
        }
    }
    .reviews-review{
        &__title{
            flex-direction: column;
            gap: 10px;
        }
    }
    .reviews-review{
        &__image{
            height: 420px !important;
        }
        &__left {
            width: 100%;
        }
        &__title{
            align-items: start;
        }
    }
}