$maxWidth: 1920;
$minWidth: 320;
$containerWidth: 1160;

$blue: #272A65;
$white: #FFFFFF;
$purpure: #FFFFFF;

$headerHeight: 100;
$footerHeight: 100;

$windscreen: 2560;
$desktop: 1920;
$small-desktop: 1440;
$laptop: 1200;
$tablet: 768;
$mobile: 376;