$black: #1C1C1C;
$white: #EFEFEF;
$white80: #EFEFEFCD;
$white50: #EFEFEF80;
$gray: #AAAAAA;
$grayE7: #E7E7E7;
  
$accent: #E5E1E1;
$accent-dark: #9F9F9F;

$windscreen: 2560;
$desktop: 1920;
$small-desktop: 1440;
$laptop: 1200;
$tablet: 768;
$mobile: 376;